{% extends "base.html" %}

{% block content %}
<div class="mt-2 main-content">
            <h1>Dashboard</h1>
            <div class="mt-3 dashboard-card">
                <div class="m-3 dashboard-card-content">
                    <span style="display: flex; flex-direction: row; justify-content: space-evenly; gap:10px;">
                        <h3>Welcome, {{user.username}}!</h3>
                    </span>
                    <div class="mt-4 btns-container">
                        <a href="{% url "zoomApp:join_meeting"%}"><button class="btn btn-primary">Join meeting</button></a>
                        <a href="{% url "zoomApp:meeting"%}"><button class="btn btn-secondary">Create meeting</button></a>
                        <a href="{% url "zoomApp:logout"%}"><button class="btn btn-danger">Logout</button></a>
                    </div>
                </div>
            </div>
    </div>
{% endblock content %}